.manage-quiz-container {
    padding-left: 20px;
    legend {
        font-size: 20px;
    }

    label {
        font-size: 16px;
    }
}
.scrollbar-list-quiz {
    width: 100% !important;
    height: calc(100vh - 40px) !important;
}