.admin-container {
    display: flex;
    gap: 20px;
    .pro-sidebar {
        height: 100vh;
    }
    .pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
        position: relative;
        background-color: rgb(43 43 43 / 70%);
    }
}

.admin-content {
    width: 100%;
    .admin-header {
        padding: 10px 0;
        border-bottom: 1px solid #000;
    }
    .admin-main {

    }
}
.admin-scroll {
    width: 100%;
    height: calc(100vh - 40px) !important;
}